import(deSolve, geiger, ape, caper, matrixStats)
importFrom(graphics,lines)
importFrom(stats,cophenetic,dexp,rexp,dist,na.omit,quantile,rnorm,runif,sd,dgamma,integrate,dbinom,rbinom)
importFrom(utils,flush.console)
importFrom(expm,expAtv)
importFrom(picante,mntd,mpd)
importFrom(DDD,simplex,optimizer,sample2)
importFrom(methods,as)
importFrom(Hmisc,wtd.quantile)
exportPattern("^[[:alpha:]]+")
